
coma_flotante/coma_flotante.sim/
coma_flotante/coma_flotante.cache/
coma_flotante/coma_flotante.runs/
coma_flotante/coma_flotante.ip_user_files/
coma_flotante/coma_flotante.gen/sources_1/
coma_flotante/coma_flotante.hw/
